<app-navbar></app-navbar>
<BR> <BR> <BR>
<div>
  <h1>
    {{titre }}
  </h1>
  <BR> <BR>
</div>
<div class="container">
  <div class="col-md-5">
    <table class="table table-bordered table-striped table-responsive">
      <thead>
      <tr>
        <th style="width:20%">idFrais</th>
        <th style="width:35%">anneeMois</th>
        <th style="width:35%">Date Modification</th>
        <th style="width:35%">Montant validé</th>
        <th style="width:65%">Nombre de justificatifs</th>
        <th style="width:35%">id Visiteur</th>
        <th style="width:35%"> Libellé Etat</th>
        <th style="width:10%">Modifier</th>
        <th style="width:10%">Supprimer</th>
      </tr>


      </thead>
      <tr *ngFor="let unFrais of mesFrais">
        <td>{{unFrais.id_frais}}</td>
        <td>{{unFrais.anneemois}}</td>
        <td>{{unFrais.datemodification}}</td>
        <td>{{unFrais.montantvalide}}</td>
        <td>{{unFrais.nbjustificatifs}}</td>
        <td>{{unFrais.id_visiteur}}</td>
        <td>{{unFrais.lib_etat}}</td>


        <td><button class="btn btn-primary" (click)="modifier(unFrais.id_frais)">
          <span class="glyphicon glyphicon-pencil"></span> Modifier </button></td>
        <td>
          <button
            class="btn btn-primary" (click)="supprimer((unFrais.id_frais))"
            onclick="javascript: if (confirm('Suppression confirmée ?')) {  }" >
            <span class="glyphicon glyphicon-remove"></span> Supprimer
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
